<a
  class="list-group-item list-group-item-action list-group-item-light p-3"
  href="/"
>
  Add product
</a>

<a
  class="list-group-item list-group-item-action list-group-item-light p-3"
  href="/productos"
>
   List of products
</a>